* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #181818;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.todo-container {
    margin-top: 100px;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    background-color:  #181818;
    

}

.header {
    position: absolute;
    top: 100px; /* Adjusts the distance from the top of the page */
    left: 200px; /* Adjusts the distance from the left side */
    display: flex;
    align-items: center;
    z-index: 1; /* Ensures the header stays on top of other elements */
}

#checkmark {
    
    margin-right: 10px;
    font-size: 50px;
}

.logo-text {
    font-size: 50px;

}

.ph-check-square {
  font-size: 50px;
  margin-right: 5px; 
}

.status-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.status-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    border: 1px solid #444;
}

.status-info h2 {
    font-size: 30px;
    margin-bottom: 5px;
}

.status-info p {
    font-size: 0.9em;
    color: #bbb;
}

.status-progress {
    width: 100px;  /* Width */
    height: 70px; /* Height */
    background-color: #6da36f;
    border-radius: 50%; /* Ensures a perfect circle */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Optional: adds a subtle shadow */
}

.status-progress span {
    font-size: 2em; /* Text inside the circle */
    color: #fff;
}


.task-input {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.task-input input {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
    background-color: #333;
    color: #fff;
    font-size: 1em;
}

.add-btn {
    background-color: #6da36f;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.5em;
    color: #fff;
    cursor: pointer;
    
}

.tasks-list {
    list-style: none;
}

.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.task-completed {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #6da36f;
    margin-right: 10px;
}

.task-pending {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #6da36f;
    margin-right: 10px;
}

.task-actions {
    display: flex;
    gap: 10px;
}

.edit-btn, .delete-btn {
    background-color: transparent;
    border: none;
    color: #bbb;
    font-size: 1.2em;
    cursor: pointer;
}

.edit-btn:hover, .delete-btn:hover {
    color: #fff;
}
